<%- include header %>
   <form action="/edit/<%= username %>/<%= username %>" method="post">
    當前用戶名稱 : <%= username%><br/>
    新用戶名稱<input type="text" name="name"/><br/>
    <input type="submit" value="保存">
    </form>

 <form action="/edit/<%= username %>/<%= userfaculty %>" method="post">
    當前學院系別:<%= userfaculty %><br/>
    新學院系別:
    <input type="text" name="faculty"/><br/>
 <input type="submit" value="保存">
    </form>

 <form action="/edit/<%= username %>/<%= usergrade %>" method="post">
    當前年級:<%= usergrade %><br/>
    新年級:<input type="text" name="grade"/><br/>
 <input type="submit" value="保存">
</form>

 <form action="/edit/<%= username %>/<%= usermotto %>" method="post">
    當前座右銘 :<%= usermotto %><br/>
    新座右銘:<input type="input" name ="motto">
 <input type="submit" value="保存">
    </form>
    <a href="/updatepassword/<%= username%>">修改密碼</a>
    <a href="/updateheader/<%= username%>">修改頭像</a>
<%- include footer %>