<%- include header %>
  <form method="post">
    書的名字:<input type="text" name="bookname" value="<%= book.bookname%>"/><br/>

    書的價格:<input type="text" name="bookprice" value="<%= book.bookprice%>"/><br/>

    你是在什麼年級使用了這本書:<br/>
    <input type="text" name="usetime" value="<%= book.usetime%>"><br/>

    你有什麼話要對想買這本書的人說:<br/>
    <input type="text" name="usersay" value="<%= book.usersay %>"><br/>
    <input type="hidden" name="bookusername" value="<%= book.bookusername%>">
    <input type="hidden" name="bookuser" value="<%= book.bookuser %>">
    <input type="hidden" name="bookid" value="<%= book._id%>">
    <input type="submit" value="更新信息"/>
  </form>
<%- include footer %>