<%- include header%>

<section class="upload">
      <span class="up-info">info</span>

      <span class="up-box">

         <form method="post">
          <span class="e-bookname">书的名称: <%= book.bookname%></span><br/><br/>
          书的价格:<input type="text" name="bookprice" value="<%= book.bookprice%>"/><br/>

          你是在什么年级使用了这本书:<br/>
          <select name="usetime">
            <option value="<%= book.usetime%>""><%= book.usetime%></option>
            <option value="大一">大一</option>
            <option value="大二">大二</option>
            <option value="大三">大三</option>
            <option value="大四">大四</option>
          </select><br/>

          你有什么话要对买这本书的人说:<br/>
          <textarea name="usersay"><%= book.usersay %></textarea><br/>

          <input type="hidden" name="bookusername" value="<%= book.bookusername%>">
          <input type="hidden" name="bookname" value="<%= book.bookname%>">

          <input type="hidden" name="bookid" value="<%= book._id%>">
          <input type="submit" value="更新信息"/>
        </form>

      </span>

    </section>

<%- include footer%>