<%- include header%>
  <section class="main">
    <img src="images/bg.jpg" alt="bg">
    <div class="search">
      <form action="/search" method="GET">
          <input placeholder="请输入你想要找的书名" class="s-text" type="search" name="search">
      </form>
    </div>
  </section>
 <section class="body">
    <% books.forEach(function(book,index){ %>
    <% if(book.sold == 0 ){ %>
      <div class="book">
        <div class="book-img">
          <a href="/book/<%= book._id%>">
            <img src="/upload/images/<%= book.bookimg %>" alt="book">
          </a>
        </div>
        <div class="bookname">
          书名: <a href="/book/<%= book._id%>"><%= book.bookname%></a>
        </div>
        <div class="book-user">
          卖家: <a href="/user/<%= book.bookusername%>"><%= book.bookusername%></a>
        </div>
        <div>
          价格:<%= book.bookprice %>
        </div>
    </div>
    <% } %>
  <% });%>

<%- include page %>
</section>
<%- include footer%>