<%- include header%>

  <section class="p-info">
      <img class="p-bg" src="/upload/images/<%= userbg %>" alt="背景图片"/>
      <span class="p-edit-bg">
        <a href="/updatebg/<%= user.name%>">编辑背景</a>
      </span>

      <img id="my-header" src="/upload/images/<%= userheader %>" alt="用户头像" class="p-header">
      <span class="p-motto">
        <span class="p-motto-bg"></span>
        <p class="motto-text"><%= user.name %> : <%= user.motto %></p>
      </span>
  </section>

 <section class="body">
 <% books.forEach(function(book,index){%>
  <% if(book.sold == 0){ %>
  <div class="book">
      <div class="book-img">
        <a href="/book/<%= book._id%>">
          <img src="/upload/images/<%= book.bookimg %>" alt="book">
        </a>
      </div>
      <div class="bookname">
        书名: <a href="/book/<%= book._id%>"><%= book.bookname%></a>
      </div>
      <div class="book-user">
        卖家:<a href="/user/<%= book.bookusername%>"><%= book.bookusername%></a>
      </div>
      <div class="book-price">
        价格:<%= book.bookprice %>
      </div>
      <div class="book-edit">
        <a href="edit/<%= book._id %>">編輯</a>
        <a href="delete/<%= book._id%>">不賣啦</a>
        <a href="sold/<%= book._id%>">賣掉啦</a>
      </div>
  </div>
  <% } %>
 <% }); %>

<%- include page%>
</section>
<%- include footer%>