<%- include header%>

  <section class="add-search">
    <form action="/search" method="GET">
        <input placeholder="继续搜索" class="s-text" type="search" name="search">
    </form>
    <p class="search-info">
      我们为你找到了以下结果:
    </p>
  </section>

<section class="body">
  <% books.forEach(function(book,index){ %>
    <% if(book.sold == 0){ %>
      <div class="book">
        <div class="book-img">
          <a href="/book/<%= book._id%>">
            <img src="images/book.jpg" alt="book">
          </a>
        </div>
        <div class="bookname">
          书名: <a href="/book/<%= book._id%>"><%= book.bookname%></a>
        </div>
        <div class="book-user">
          卖家: <a href="/user/<%= book.bookusername%>"><%= book.bookusername%></a>
        </div>
        <div class="book-price">
          价格:<%= book.bookprice %>
        </div>
        <div class="upload-time">
          2015-13-12
        </div>
    </div>
    <% }%>
  <% }); %>

<%- include page %>
</section>
<%- include footer%>