<%- include header%>

<section class="body">
  <% books.forEach(function(book,index){ %>
    <% if(book.sold == 1){ %>
      <div class="book">
        <div class="book-img">
          <a href="/book/<%= book._id%>">
            <img src="/upload/images/<%= book.bookimg %>" alt="book">
          </a>
        </div>
        <div class="bookname">
          书名: <a href="/book/<%= book._id%>"><%= book.bookname%></a>
        </div>
        <div class="book-price">
          价格:<%= book.bookprice %>
        </div>
        <div class="sold-time">
          2015-13-12
        </div>
    </div>
    <% }%>
  <% }); %>

<%- include page %>
</section>
<%- include footer%>