<%- include header %>
  <%= userName%>的<%= title%>
  <img src="/upload/images/<%= user.header%>" alt="用户头像"/>
  <% books.forEach(function(book,index){ %>
<% if(book.sold == 0){ %>
  <div>
  書名:<a href="/book/<%= book._id %>"><%= book.bookname %></a><br/>
  價格:<%= book.bookprice %><br/><br/>
  <%= userName%>曾經使用的時間:<br/><%= book.usetime %><br/><br/>
  <%= userName%>對你的留言:<br/><%= book.usersay %>
  </div>
  <br />
<% } %>
  <% }); %>

    <div>
    <% if (!isFirstPage) { %>
      <span><a title="上一页" href="?p=<%= page-1 %>">上一页</a></span>
    <% } %>
    <% if (!isLastPage) { %>
      <span><a title="下一页" href="?p=<%= page+1 %>">下一页</a></span>
    <% } %>
  </div>
<%- include footer %>